.search{
    
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    width: 400px;
    background-color: white;
    border-radius: 5px ;
    box-shadow: 0 0 0 3px black;

}

.input{
    width: 250px;
    border: 0;
    outline: none;
    font-size: 15px;
}

.btn{
    
    color: black;
    font-size: 30px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 0;
   
}

.btnreset{
    background-color: white;
    border: 0;
    font-size: 20px;
    
}